*{
   
    box-sizing: border-box;
}
ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.logo{

}
.h{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container{
    color: yellow;
}
h1{
    color: white;
}
body{
    background-color: brown;
}
.logo{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;  
}
.li{
    font-size: 20px;
    color: blue;
}


.parent2{
display: flex;

}
.parent{
    display: flex;
    margin: auto;
    
}
h2{
    text-align: center;

}
img{
margin-left: 20%;
}
p{
   text-align: center;
   font-size: 20px;
}
.child{
    color: white;
    font-size: 10px;
}
p{
    
   background-color: black;
} 
